body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-image: url("images/ex3.jpg");
  	background-size: cover;
  	background-color: #1c1d1e; #/*345467*/
  	z-index: 0;
}



a {
	color:#000;
	text-decoration: none;
}

img {
	width:100%;
}

* {
	/*outline:1px solid yellow;*/
}

.netnotify {
	position: fixed;
	background-color: ;
	font-size:30px;
	padding:10px;
	width:50%;
	height:50px;
	color:yellow;
	position: center;

}

.title {
	font-family:times;
	font-size: 180px;
	color: white;
	position: fixed;
	mix-blend-mode: multiply;
	line-height: 160px;
	top:60px;
}

.introtext {
	font-size: 25px;
	/*color:#ffec9a;*/
	color:yellow;
	top:630px;
	position:absolute;
	padding:10px;

}

.buttons {
	font-family: arial;
	color:yellow;
	text-align: left;
	font-size:20px;
	right:0px;
	top:0px;
	padding:10px;
	position: fixed;

}

.examples .content {
	border-radius: 80px;
	text-align: center;
}


.masthead {
  background-size:cover;
  background-repeat:no-repeat;
  height:100vh;
  width:100vw;
}

.overlay {
	
}

.overlay img {

}

.twopage .col {
	height:100vh;
	overflow:scroll;
}

.align-bottom {
	
}

.justify-right {
	
}

.align-center {
	
}

.fours {
	font-size:14px;
}

.offset-left {
	margin-left:25%;
}

.sources a{
	display: block;
}
