img {
	mix-blend-mode: exclusion;
}

.popup {
	position: absolute;
	/*display: none;*/
	opacity:100;
}

.popup:hover {
	opacity: 1;
}

.active {
	opacity:1;
}

.p1 {
	top:280px;
	left:200px;
	width:150px;
	
}

.p2 {
	top:180px;
	left:160px;
	width:150px;
	
}

.p3 {
	top:100px;
	left:660px;
	width:150px;
}

.p4 {
	top:160px;
	left:300px;
	width:150px;
}

.p5 {
	top:50px;
	left:80px;
	width:150px;
}

.p6 {
	top:450px;
	left:370px;
	width:150px;
}

.p7 {
	top:430px;
	left:800px;
	width:150px;
}

.p8 {
	top:260px;
	left:60px;
	width:150px;
}

.p9 {
	top:150px;
	left:970px;
	width:150px;
}

.p10 {
	top:500px;
	left:40px;
	width:150px;
}

.p11 {
	top:390px;
	right:30px;
	width:150px;
}

.p12 {
	top:400px;
	left:320px;
	width:150px;
}

.p13 {
	top:100px;
	left:400px;
	width:250px;
}

.p14 {
	top:200px;
	left:810px;
	width:150px;
}

.p15 {
	top:600px;
	left:320px;
	width:150px;
}

.p16 {
	top:300px;
	left:20px;
	width:150px;
}

.p17 {
	top:300px;
	left:20px;
	width:150px;
}




