img {
	mix-blend-mode: exclusion;
}

.popup {
	position: absolute;
	/*display: none;*/
	opacity:0;
}

.popup:hover {
	opacity: 1;
}

.active {
	opacity:1;
}

.book1 {
	top:70px;
	left:50px;
	width:100px;
}

.book2 {
	top:120px;
	left:120px;
	width:200px;
}

.book3 {
	top:40px;
	left:200px;
	width:200px;
}

.book4 {
	top:60px;
	left:350px;
	width:200px;
}

.book5 {
	top:150px;
	left:400px;
	width:200px;
}

.book6 {
	top:90px;
	left:550px;
	width:200px;
}

.book7 {
	top:30px;
	left:700px;
	width:200px;
}

.book8 {
	top:130px;
	left:800px;
	width:200px;
}

.book9 {
	top:40px;
	left:950px;
	width:200px;
}

.book10 {
	top:220px;
	left:1010px;
	width:200px;
}

.book11 {
	top:250px;
	left:30px;
	width:200px;
}

.book12 {
	top:280px;
	left:200px;
	width:200px;
}

.book13 {
	top:350px;
	left:250px;
	width:200px;
}

.book14 {
	top:300px;
	left:350px;
	width:200px;
}

.book15 {
	top:400px;
	left:480px;
	width:200px;
}

.book16 {
	top:350px;
	left:550px;
	width:200px;
}

.book17 {
	top:190px;
	left:650px;
	width:200px;
}

.book18 {
	top:220px;
	left:790px;
	width:200px;
}

.book19 {
	top:260px;
	left:900px;
	width:200px;
}

.book20 {
	top:350px;
	left:1010px;
	width:200px;
}

.book21 {
	left:70px;
	top:500px;
	width:200px;
}

.book22 {
	left:120px;
	top:610px;
	width:200px;
}

.book23 {
	left:40px;
	top:550px;
	width:200px;
}

.book24 {
	left:60px;
	top:520px;
	width:200px;
}

.book25 {
	left:150px;
	top:670px;
	width:200px;
}

.book26 {
	left:260px;
	top:700px;
	width:200px;
}

.book27 {
	left:370px;
	top:750px;
	width:200px;
}

.book28 {
	left:490px;
	top:710px;
	width:200px;
}

.book29 {
	left:580px;
	top:820px;
	width:200px;
}

.book30 {
	left:700px;
	top:790px;
	width:200px;
}

.book31 {
	top:700px;
	left:850px;
	width:100px;
}





