

.title {
	font-size: 15vw;
	text-align: center;
	font-family: helvetica,Arial,sans-serif;
/*	font-weight:bold;*/
}

.toggle-title {
	border-top:2px solid #000;
	cursor: pointer;
	font-family: helvetica,Arial,sans-serif;
}

.toggle-content {
	display: none;
	font-family: helvetica,Arial,sans-serif;
}

.toggle-project {
	cursor: pointer;
	font-family: helvetica,Arial,sans-serif;
}

.details {
	padding:10px;
}

/*img {
   display: none
}

img i {

}*/

img {
	width:400px;
	padding:10px;
}

/*span:hover + img{
   display: block;
   z-index: 1;
   position:absolute;
   top:200px;
   width:50%;
   right:50px;
   mix-blend-mode: luminosity;
}
*/

